@layout('layouts/main')

@section('body')

      <mj-text color="#637381" font-size="16px">
        {{mailConfirmationBodyFirst}}. <br>
        {{mailConfirmationBodySecond}}
      </mj-text>
      
      <mj-button background-color="#fc904c" align="center" color="#ffffff" font-size="17px" font-weight="bold" href="{{ link }}" width="300px">
        {{mailButtonMessage}}
      </mj-button>
@end